<style>
    .activity.modtype_multiprogress {
        border: none;
    }
    .activity.modtype_multiprogress .activity-icon, .activity.modtype_multiprogress .activity-name-area {
        display: none !important;
    }
    .activity.modtype_multiprogress .activity-description {
        border: none !important;
        padding-top: 0 !important;
        margin-top: 0 !important;
    }

    .mod_multiprogress.block {
        border: none;
    }
    .mod_multiprogress_container {
        text-align: center;
        font-family: Arial, sans-serif;
    }
    .mod_multiprogress_header {
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .mod_multiprogress_title {
        font-size: 20px;
        margin-bottom: 20px;
        max-width: 250px;
        padding-top: 10px;
    }
    .mod_multiprogress_book {
        margin-bottom: 20px;
        width: 80px;
    }
    .mod_multiprogress_book img {
        width: 80px;
    }
    .mod_multiprogress_stone {
        align-items: center;
        display: flex;
        margin: 20px 14px ;
    }
    .mod_multiprogress_stone img {
        width: 50px;
        margin-right: 10px;
    }
    .mod_multiprogress_stone > div {
        width: 100%;
    }
    .mod_multiprogress_stone > div > span {
        text-align: left;
        display: block;
        text-decoration: none;
        color: #1D1D1B;
        font-family: "Montserrat", sans-serif;
    }
    .mod_multiprogress_stone > div > div {
        display: flex
    }

    .mod_multiprogress_progress {
        background-color: #f3f3f3;
        border-radius: 5px;
        
        margin-right: 10px;
        overflow: hidden;
        width: 100%;
    }
    .mod_multiprogress_progress-bar {
        background-color: #ffd700;
        height: 20px;
    }
    .mod_multiprogress_percentage {
        color: #1D1D1B;
        font-family: "Montserrat", sans-serif;
        width: 50px;
    }
    .hidden {
      display: none;
    }

</style>

<div class="mod_multiprogress_container">
    <div class="mod_multiprogress_header">
        <div class="mod_multiprogress_title">Conquiste todas as pedras para abrir o códex.</div>
        <div class="mod_multiprogress_book">
            <img src="{{config.wwwroot}}/mod/multiprogress/pix/livro.png" alt="Códex" class="glow-book">
        </div>
    </div>
    
    {{#courses}}
    <style>
      .glow-{{course_id}}:hover {
        filter: drop-shadow(0 0 10px rgba({{stone_color}}, 1) );
        animation: pulse-{{course_id}} 2s infinite ease-in-out;
      }
      @keyframes pulse-{{course_id}} {
          0%, 100% {
            filter: drop-shadow(0 0 10px rgba({{stone_color}}, .5));
        }
        50% {
          filter: drop-shadow(0 0 20px rgba({{stone_color}}, 1));
        }
      }
    </style>
    <a href="view.php?id={{course_id}}" data-course_idnumber="{{course_idnumber}}" data-total_modules="{{total_modules}}" data-total_modules="{{completed_modules}}" >
        <div class="mod_multiprogress_stone {{isactive}}">
            <img class="glow-{{course_id}}" src="{{course_image_url}}" alt="{{course_alias}}" />
            <div>
                <span>
                    {{course_alias}}<br />
                    {{course_subtitle}}
                </span>                    
                <div>
                    <div class="mod_multiprogress_progress">
                        <div class="mod_multiprogress_progress-bar" style="width: {{completion_percentage}}%;"></div>
                    </div>
                    <div class="mod_multiprogress_percentage">{{completion_percentage}}%</div>
                </div>                    
            </div>
        </div>
    </a>
    {{/courses}}
    {{^isjourney}}
    <div class="show_more">
        <a href="javascript:void(0);" class="mod_show_more_link">Mostrar mais</a>
    </div>
    {{/isjourney}}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.mod_show_more_link').forEach(function (link) {
        link.addEventListener('click', function () {
          document.querySelectorAll('.mod_multiprogress_stone').forEach(function (el) {
              el.classList.toggle('hidden');
          });

          this.textContent = this.textContent === 'Mostrar mais' ? 'Mostrar menos' : 'Mostrar mais';
        });
      });
    });
</script>
