<style>
    .activity.modtype_multiprogress {
        border: none;
    }
    .activity.modtype_multiprogress .activity-icon, .activity.modtype_multiprogress .activity-name-area {
        display: none !important;
    }
    .activity.modtype_multiprogress .activity-description {
        border: none !important;
        padding-top: 0 !important;
        margin-top: 0 !important;
    }

    .mod_multiprogress.block {
        border: none;
    }
    .mod_multiprogress_container {
        text-align: center;
        font-family: Arial, sans-serif;
    }
    .mod_multiprogress_header {
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .mod_multiprogress_title {
        font-size: 20px;
        margin-bottom: 20px;
        max-width: 250px;
        padding-top: 10px;
    }
    .mod_multiprogress_book {
        margin-bottom: 20px;
        width: 80px;
    }
    .mod_multiprogress_book img {
        width: 80px;
    }
    .mod_multiprogress_stone {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .mod_multiprogress_stone img {
        width: 50px;
        margin-right: 10px;
    }
    .mod_multiprogress_stone > div {
        width: 100%;
    }
    .mod_multiprogress_stone > div > span {
        text-align: left;
        display: block;
        text-decoration: none;
        color: #1D1D1B;
        font-family: "Montserrat", sans-serif;
    }
    .mod_multiprogress_stone > div > div {
        display: flex
    }

    .mod_multiprogress_progress {
        width: 100%;
        background-color: #f3f3f3;
        border-radius: 5px;
        overflow: hidden;
        margin-right: 10px;
    }
    .mod_multiprogress_progress-bar {
        height: 20px;
        background-color: #ffd700;
    }
    .mod_multiprogress_percentage {
        width: 50px;
        font-family: "Montserrat", sans-serif;
        color: #1D1D1B;
    }
    .hidden {
      display: none;
    }

</style>


<div class="mod_multiprogress_container">
    <div class="mod_multiprogress_header hidden">
        <div class="mod_multiprogress_title">Conquiste todas as pedras para abrir o livro mágico.</div>
        <div class="mod_multiprogress_book">
            <img src="{{config.wwwroot}}/mod/multiprogress/pix/livro.png" alt="Livro mágico">
        </div>
    </div>
    {{#courses}}
    <a href="view.php?id={{course_id}}" data-course_idnumber="{{course_idnumber}}" data-total_modules="{{total_modules}}" data-total_modules="{{completed_modules}}">
        <div class="mod_multiprogress_stone {{isactive}}">
            <img src="{{course_image_url}}" class="glow-{{course_id}}" alt="{{course_alias}}">
            <div>
                <span>
                    {{course_alias}}<br />
                    {{course_subtitle}}
                </span>                    
                <div>
                    <div class="mod_multiprogress_progress">
                        <div class="mod_multiprogress_progress-bar" style="width: {{completion_percentage}}%;"></div>
                    </div>
                    <div class="mod_multiprogress_percentage">{{completion_percentage}}%</div>
                </div>                    
            </div>
        </div>
    </a>
    {{/courses}}
      <div class="show_more">
        <a href="javascript:void(0);" class="mod_show_more_link">Mostrar mais</a>
    </div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.mod_show_more_link').forEach(function (link) {
        link.addEventListener('click', function () {
          document.querySelectorAll('.mod_multiprogress_stone').forEach(function (el) {
              el.classList.toggle('hidden');
          });
          document.querySelectorAll('.mod_multiprogress_header').forEach(function (el) {
              el.classList.toggle('hidden');
          });

          this.textContent = this.textContent === 'Mostrar mais' ? 'Mostrar menos' : 'Mostrar mais';
        });
      });
    });
</script>
